body {  
    margin: 0 auto; /* Centra el contenido horizontalmente */
    width: 80%; /* Ajusta el ancho del contenido */
    max-width: 800px; /* Establece un ancho máximo para el contenido */
    text-align: justify; /* Centrar el texto */
    font-family: Arial, sans-serif; /* Cambiar la fuente */
    background: linear-gradient(0deg, rgb(167, 167, 167) 6%, rgb(255, 255, 255) 100%);
  }
  
  h2 {
    font-size: 24px; /* Cambiar el tamaño de letra de los encabezados */
    color: #333; /* Cambiar color de los encabezados */
  }
  
  ul {
    list-style-type: disc; /* Cambiar el estilo de viñetas en las listas */
    margin-left: 20px; /* Añadir un margen a la izquierda de las listas */
  }
  
  li {
    margin-bottom: 10px; /* Añadir un espacio entre elementos de la lista */
  }
  
  p {
    font-size: 16px; /* Cambiar el tamaño de letra de los párrafos */
    line-height: 1.5; /* Ajustar el espaciado entre líneas */
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ebe4e4;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  